.anketa {
    &__cover {
        padding: 180px 0 50px 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    }
    &__body {
        background-color: rgba(255, 255, 255, 0.8);
        color: $color-text-main;
        padding-top: 0px;
        padding-bottom: 140px;
    }

    &__descr {
        font-size: 19px;
        margin-bottom: 60px;
    }
}

@media (max-width: 1199px) {
    .anketa {
        &__descr {
            font-size: 16px;
        }
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
    .anketa {
        &__cover {
            padding-top: 100px;
        }
        &__descr {
            font-size: 14px;
        }
        &__body {
            padding-top: 0px;
        }
    }
}